<meta charset='UTF-8'>

<meta name='keywords' content='{% include "beshoy website/includes/extra/contatus/keywords.html"%} '>
<meta name='description' content='{% include "beshoy website/includes/extra/contatus/keywords.html"%}-{% include "beshoy website/includes/extra/contatus/keywords.html"%}-{% include "beshoy website/includes/extra/contatus/description.html"%} '>
<meta name='subject' content='{% include "beshoy website/includes/extra/contatus/subject.html"%} '>

<meta name='abstract' content='{% include "beshoy website/includes/extra/contatus/keywords.html"%}-{% include "beshoy website/includes/extra/contatus/description.html"%}'>
<meta name='topic' content='{% include "beshoy website/includes/extra/contatus/subject.html"%}'>
<meta name='summary' content='{% include "beshoy website/includes/extra/contatus/keywords.html"%}-{% include "beshoy website/includes/extra/contatus/description.html"%}'>

<meta name='author' content='{% include "beshoy website/includes/extra/contatus/athor.html"%}'>

<meta name='pagename' content='{% include "beshoy website/includes/extra/contatus/title.html"%} - {% include "beshoy website/includes/extra/contatus/athor.html"%} '>
<meta name='category' content='{% include "beshoy website/includes/extra/contatus/subject.html"%}'>

<meta name='subtitle' content='{% include "beshoy website/includes/extra/contatus/title.html"%}'>

<meta name='date' content='{% include "beshoy website/includes/extra/contatus/date.html"%}'>
<meta name='search_date' content='{% include "beshoy website/includes/extra/contatus/date.html"%}'>
<meta name='DC.title' content='{% include "beshoy website/includes/extra/contatus/title.html"%}'>

<meta name='pageKey' content='{% include "beshoy website/includes/extra/contatus/title.html"%}'>
<meta itemprop='name' content='{% include "beshoy website/includes/extra/contatus/title.html"%}'>


<meta name="apple-mobile-web-app-title" content="{% include "beshoy website/includes/extra/contatus/title.html"%}"> 


<meta name='application-name' content='{% include "beshoy website/includes/extra/contatus/title.html"%}'>
<meta name='msapplication-tooltip' content='{% include "beshoy website/includes/extra/contatus/athor.html"%}s Blog'>


<meta name="application-name" content=" {% include "beshoy website/includes/extra/contatus/title.html"%}" />



<link rel='search' href='/search.xml' type='application/opensearchdescription+xml' title='{% include "beshoy website/includes/extra/contatus/title.html"%}'>

{% include "beshoy website/includes/extra/mainmeta.html"%}


