{% extends "beshoy website/base.html" %}




{%block title%}
{% include "beshoy website/includes/extra/home/title.html"%}
{%endblock%} 







{%block header%}


{% include "beshoy website/includes/extra/home/title.html"%}
{%endblock%} 
{%block body%}
<h1 class="flow-text"> {% include "beshoy website/includes/extra/home/title.html"%}</h1>

    
{%endblock%}
{%block script%}

<script>
    
 

    

        
   
       </script>
{%endblock%}
{%block meta%}

{% include "beshoy website/includes/extra/home/meta.html"%}
 {%endblock%}


<!-- all to all   -->
