{% extends "beshoy website/base.html" %}




{%block title%}
{% include "beshoy website/includes/extra/home/title.html"%}
{%endblock%} 







{%block header%}


{% include "beshoy website/includes/extra/home/title.html"%}
{%endblock%} 
{%block body%}
<h1 class="flow-text"> {% include "beshoy website/includes/extra/home/title.html"%}</h1>
<br> 
<div class="row">
  <div class="col-8"> 
      <div class = "conteant">
<p> Welcome to the Farag blog.  </p>

<p> my name is Beshoy Farag. </p>
     </div> 
</div>
    <div class="col-4"><div class ="inersidebar sideone  animated bounceInDown">sidebar 1 <hr>
        <div class="ytmediabutton"><a class=" ytmediabutton media waves-effect waves-light btn "><i class="material-icons right zmdi zmdi-youtube-play "></i>youtube</a></div>
        
        
        <div class="ytmediabutton"><a class=" tmediabutton media waves-effect waves-light btn "><i class="material-icons right zmdi zmdi-twitter "></i>twitter</a></div>
        
        
        
          <div class="ytmediabutton"><a class=" lmediabutton media waves-effect waves-light btn "><i class="material-icons right zmdi zmdi-linkedin "></i>linkedin</a></div>
        
        
        
          <div class="ytmediabutton"><a class=" gmediabutton media waves-effect waves-light btn "><i class="material-icons right zmdi zmdi-google-plus "></i>google plus</a></div>
        
        
          <div class="ytmediabutton"><a class=" fmediabutton media waves-effect waves-light btn "><i class="material-icons right zmdi zmdi-facebook "></i>facebook</a></div>
        
        
          <div class="ytmediabutton"><a class=" imediabutton media waves-effect waves-light btn "><i class="material-icons right zmdi zmdi-instagram "></i>instagram</a></div>
        
        </div></div>
</div>
   


<div class="row">
    <div class="col-8"> </div>
    <div class="col-4"><div class ="inersidebar sidetwo animated bounceInUp ">sidebar 2 </div></div>
</div>
    
{%endblock%}
{%block script%}

<script>
    
 

    

        
   
       </script>
{%endblock%}
{%block meta%}

{% include "beshoy website/includes/extra/home/meta.html"%}
 {%endblock%}


<!-- all to all   -->
