{% extends "beshoy website/base.html" %}




{%block title%}
{% include "beshoy website/includes/extra/home/title.html"%}
{%endblock%} 







{%block header%}


{% include "beshoy website/includes/extra/home/title.html"%}
{%endblock%} 
{%block body%}
<h1 class="flow-text"> {% include "beshoy website/includes/extra/home/title.html"%}</h1>
<br> 
<div class="row">
  <div class="col-8"> 
      <div class = "conteant">
<p> Welcome to the Farag blog.  </p>

<p> my name is Beshoy Farag. </p>
     </div> 
</div>
    <div class="col-4"><div class ="inersidebar">sidebar 1</div></div>
</div>
   


<div class="row">
    <div class="col-8"> </div>
    <div class="col-4"><div class ="inersidebar two">sidebar 2 </div></div>
</div>
    
{%endblock%}
{%block script%}

<script>
    
 

    

        
   
       </script>
{%endblock%}
{%block meta%}

{% include "beshoy website/includes/extra/home/meta.html"%}
 {%endblock%}


<!-- all to all   -->
