{% extends "beshoy website/blogbase.html" %}
{%block title%}


{% include "beshoy website/includes/extra/contatus/title.html"%}
{%endblock%} 
{%block header%}


{% include "beshoy website/includes/extra/contatus/title.html"%}
{%endblock%} 
{%block body%}
<h1 class="flow-text">Contact Form</h1>
<p class="flow-text">To send us a message fill out the below form.</p>
<form method="post">{% csrf_token %}
  <p class="flow-text">Name: <input type="text" name="name"></p>
  <p class="flow-text">Your e-mail: <input type="text" name="email"></p>
  <p class="flow-text">Message: <textarea class="flow-text" name="body" rows="" cols="50"></textarea></p>
  <input type="submit" value="Submit"> </input>
</form>

{%endblock%}
{%block meta%}

{% include "beshoy website/includes/extra/contatus/meta.html"%}
 {%endblock%}