{% extends "beshoy website/base.html" %}




{%block title%}
{% include "beshoy website/includes/extra/login/title.html"%}
{%endblock%} 







{%block header%}


{% include "beshoy website/includes/extra/login/title.html"%}
{%endblock%} 
{%block body%}
<h2>Login</h2>
<form method="post" class="form-signin">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn waves-effect waves-light" type="submit" name="action">login
    <i class="material-icons right">send</i>
 
  </button> 
</form>

    
{%endblock%}
{%block script%}

<script>
    
 

    

        
   
       </script>
{%endblock%}
{%block meta%}

{% include "beshoy website/includes/extra/login/meta.html"%}
 {%endblock%}


<!-- all to all   -->

   




 
