{% extends "beshoy website/blogbase.html" %}
{%block title%}

chatroom
{%endblock%} 
{%block header%}

chatroom

{%endblock%} 
{%block body%}
<h1 class="flow-text"> chatroom
</h1>
<div class="chat">
        <script id="cid0020000184218214162" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 100%;height:100%;">{"handle":"beshoyfaragblog","arch":"js","styles":{"a":"757d82","b":100,"c":"00ffff","d":"99ffff","e":"757d82","h":"757d82","j":"00ffff","k":"991104","l":"00ffff","m":"CC0000","n":"FFFFFF","p":"10","q":"757d82","r":100,"sbc":"999999"}}</script>
</div>
{%endblock%}
{%block meta%}

{% include "beshoy website/includes/extra/about/meta.html"%}
 {%endblock%}